<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <div class="header-top">
          <h1>Welcome to Your Notes!</h1>
          <p>Di sini kamu bisa menambahkan sebuah note dan juga melihat notes yang ada.</p>    
      </div>
      <nav>
          <ul>
              <li><a href="{% url 'index' %}">Notes List Table</a></li>
              <li><a href="{% url 'add_note' %}">Add Notes</a></li>
              <li><a href="{% url 'note_list' %}">Notes List Card</a></li>
          </ul>
      </nav>
    </header>
    <main>
      {% for note in notes %}
      <div class="card">
        <table>
          <caption>{{ note.title }}</caption>
            <tr>
                <th>To</th>
                <td>{{ note.to }}</td>
            </tr>
            <tr>
                <th>From</th>
                <td>{{ note.from_note }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ note.message }}</td>
            </tr>
        </table>
      </div>
      {% endfor %}  
    </main>
  </body>
</html>
