<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notes</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <div class="header-top">
          <h1>Welcome to Your Notes!</h1>
          <p>Di sini kamu bisa menambahkan sebuah note dan juga melihat notes yang ada.</p>    
      </div>
      <nav>
          <ul>
              <li><a href="{% url 'index' %}">Notes List Table</a></li>
              <li><a href="{% url 'add_note' %}">Add Notes</a></li>
              <li><a href="{% url 'note_list' %}">Notes List Card</a></li>
          </ul>
      </nav>
    </header>
    <main>
      <table>
        <tr>
          <th>To</th>
          <th>From</th>
          <th>Title</th>
          <th>Message</th>
        </tr>
        <!-- TODO loop from Friend model -->
          {% for note in notes %}
          <tr>
            <td>
              {{ note.to }}
            </td>
            <td>
              {{ note.from_note }}
            </td>
            <td>
              {{ note.title }}
            </td>
            <td>
              {{ note.message }}
            </td>
          </tr>
          {% endfor %}
      </table>
    </main>
    <!-- <footer>
      Pemrograman Berbasis Platform, Fadhli Gazalba - 2006525904
    </footer> -->
  </body>
</html>
