<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-top">
            <h1>Welcome to Your Notes!</h1>
            <p>Di sini kamu bisa menambahkan sebuah note dan juga melihat notes yang ada.</p>    
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Notes List Table</a></li>
                <li><a href="{% url 'add_note' %}">Add Notes</a></li>
                <li><a href="{% url 'note_list' %}">Notes List Card</a></li>
            </ul>
        </nav>
      </header>
      <main>
          <div class="container-form">
            <form action="" method="POST">
                <h1>Note Form</h1>
                <hr/>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
          </div>
      </main>
      <!-- <footer>
        Pemrograman Berbasis Platform, Fadhli Gazalba - 2006525904
      </footer> -->
</body>
</html>