<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friend Form</title>
</head>
<body>
    <form action="" method="POST">
        <h1>Friend Form</h1>
        <hr/>
        {% csrf_token %}
        {{ form.as_p }}
        <!-- Name : <input type="text" placeholder="Enter Name" name="name" required>
        NPM  : <input type="number" placeholder="Enter NPM" name="npm" required>
        DOB  : <input type="date" placeholder="Enter DOB" name="DOB" required> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>