@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
nav {
    background-color: #2d35c4;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover {
    color: black;
}
nav li {
    display: inline; 
    list-style-type: none; 
    margin-right: 20px;
}
.header-top {
    background-color: #000896;
    color: white;
    padding: 30px;
    font-size: 15px;
    text-align: center;
}
.card {
    display: inline-block;
    width: 45%;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin: 30px 30px;
}
main {
    margin-bottom: 50px;
}
table {
    text-align: center;
    padding: 50px;
}
table th, td {
    padding: 10px;
}
table caption {
    font-size: 1.3em;
    font-weight: bold;
}